<div id="header">

</div>

<div ui-view>
	<div>
		<button class="btn btn-primary" ng-click ="createCluster()" id="create-cluster" value="Create Cluster">Create Cluster</button>
	</div>
	
	<div>
		<button class="btn btn-primary" ng-click ="getInstancesDetails()" id="create-cluster" value="Create Cluster">View Details</button>
	</div>
	
	<div>
		<button class="btn btn-primary" ng-click ="getMetric()" id="create-cluster" value="Create Cluster">Get Metric</button>
	</div>
	
	<div>
		<button class="btn btn-primary" ng-click ="startCluster()" id="create-cluster" value="Create Cluster">Start Cluster</button>
	</div>
	
	<div>
		<button class="btn btn-primary" ng-click ="stopCluster()" id="create-cluster" value="Create Cluster">Stop Cluster</button>
	</div>
	
	<div>Click to stop cluster</div>
	<div>Click to start cluster</div>
</div>

<div id="footer"></div>